# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.sln
*.suo
*.sdf
*.opendb

/Chapter01/Intermediate
/Chapter01/Saved
/Chapter01/Binaries

/Chapter02/Intermediate
/Chapter02/Saved
/Chapter02/Binaries

/Chapter03/Intermediate
/Chapter03/Saved
/Chapter03/Binaries

/Chapter04/Intermediate
/Chapter04/Saved
/Chapter04/Binaries

/Chapter05/Intermediate
/Chapter05/Saved
/Chapter05/Binaries

/Chapter06/Intermediate
/Chapter06/Saved
/Chapter06/Binaries

/Chapter07/Intermediate
/Chapter07/Saved
/Chapter07/Binaries

/Chapter08/Intermediate
/Chapter08/Saved
/Chapter08/Binaries

/Chapter09/Intermediate
/Chapter09/Saved
/Chapter09/Binaries

/Chapter10/Intermediate
/Chapter10/Saved
/Chapter10/Binaries

/Chapter11/Intermediate
/Chapter11/Saved
/Chapter11/Binaries

/Chapter12/Intermediate
/Chapter12/Saved
/Chapter12/Binaries
